<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tact.base.mybatis.mapper.EmployeeMapper">
 
    <select id="findById" resultType="org.tact.base.mybatis.domain.Employee" parameterType="long">
        select * from employee where id = #{id}
    </select>    
   
    <select id="findByEmployerId" resultType="org.tact.base.mybatis.domain.Employee" parameterType="long">
        select * from employee where employer_id = #{employer_id}
    </select>    
  
    <insert id="addEmployee" parameterType="map">		
		INSERT INTO EMPLOYEE
		(
		EMPLOYER_ID, LINKEDIN, SKILLS 
		)	VALUES(#{EMPLOYER_ID}, #{LINKEDIN}, #{SKILLS})
	</insert>  
	
	<select id="byEmployee" resultType="map">
		SELECT 
			ID AS 'id',
			EMPLOYER_ID AS 'employer_id',
			LINKEDIN AS 'linkedin',
			SKILLS AS 'skills'
		FROM EMPLOYEE
		WHERE ID = #{ID}
	</select>
  
	<delete id="deleteEmployee">
		DELETE FROM EMPLOYEE
		WHERE ID = #{ID}
	</delete>	
	
	<select id="findSkillsByEmployerId" resultType="org.tact.base.mybatis.domain.Employee" parameterType="long">
        select skills from employee where employer_id = #{employer_id}
    </select>  

</mapper>
